<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # No reescribir si el archivo o carpeta existe
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todas las peticiones a index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>